<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $theme := resources.Get "js/theme.js" | minify | fingerprint }}
  <script src="{{ $theme.RelPermalink }}" defer></script>
  {{ $search := resources.Get "js/search.js" | minify | fingerprint }}
  <script src="{{ $search.RelPermalink }}" type="module"></script>
  {{ block "scripts" . }}{{ end }}
</body>
</html>
